.productoCrear {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productoCrearFila {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media (max-width: 820px) {
  .productoCrearFila {
    grid-template-columns: 1fr;
  }
}
